.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dee8f4;
}

.Pagination > b {
    color: #000;
    cursor: pointer;
    padding: 0 5px;
}

.Pagination-page-number.Selected {
    text-decoration: underline;
}