.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #283D4D;
}

.Pagination > b {
    color: #fff;
    cursor: pointer;
    padding: 0 5px;
}

.Pagination-page-number.Selected {
    text-decoration: underline;
}