.Reviews {
    padding: 0 0 10px 0;
    width: 75%;
}

.Reviews-review-information {
    padding: 13px 0;
}

.Reviews-review-information > p {
    margin: 0;
    word-wrap: break-word;
}

.Reviews-review-information > a {
    color: #FFFFFF;
}

.textButton {
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
}