.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #E6ECF2;
    height: 100vh;
}

.App-header {
    background-color: #FFFFFF;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.App-header > h2 {
    margin: 25px 0 0 0;
    color: #0093ff;
}

.App-body {
    flex: 1 1 auto;
    color: #EDEDED;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.App-body > .SortBar {
    flex: 0 0 50px;
}

.App-body > .Pagination {
    flex: 0 0 50px;
}

.App-movie-list,
.App-preview {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.App-movie-list {
    flex: 1 2 auto;
    min-height: 180px;
}

.App-movie-list > p {
    margin: 0;
    padding: 15px 0;
    text-decoration: overline;
}

.App-movie-list > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-preview {
    background-color: #959595;
    flex: 1 1 auto;
}